
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,600;1,600&family=Press+Start+2P&display=swap");
   

.hero-hr{
  height:-1px;
  border: none;
  color:white;
}

.hero-main{
  font-family:'Jost',sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:capitalize;
  }


html{
    font-size:62.5%; 
    overflow-x:hidden;
}

section{
padding: 3rem 2rem;
max-width:1200px;
margin: 0 auto;
}

.hero-btn{
    background-color: #04cc84;  
    font-size:2.4rem;
    padding:0.5rem 1rem;
    border-radius:1rem;
    color:#fff;
    text-decoration: underline;
}

.hero-btn:hover{
  background-color:#00ffa2;
  transition:ease 0.5s;
}


.hero-home .hero-content h1{
    font-size: 4.5rem;
    color:#000000;
    line-height: 1.3;
    margin-bottom:1rem;
    font-weight:600px;
}

.hero-home .hero-content p{
    font-size:2rem;
    color:#000000;
    margin-bottom:2rem;
    opacity:0.7;
    
}

.hero-main{
  background-color:#d2d6e2;  
    margin-top:0px;
}

.hero-home{
display:flex;
align-items:center;
flex-wrap:wrap;
gap:2rem;
}

  .hero-content{
    flex: 1 1 42rem;

  }

  .hero-image-main{
    width:fit-content;
    height:100%;
    display:grid;
grid-template-columns: 200px 250px;

  }

  .hero-img{
    flex: 1 1 42rem;
    margin-left:30px;
    width:fit-content;
    height:100%;
    display:flex;
    justify-content:center;
    display:block;
    margin:auto;
  }

  .hero-img img{
    height:400px;
    width:auto;
    border-radius:30%;
    border:5px;
  }

  @media(max-width:911px){

html{
    font-size:55%;
}

  }

  
  @media(max-width:450px){

    html{
        font-size:45%;
    }
    
      }


     


      .padding-main{
        padding-top: 60px;
      }

      


      


 .under-hero{
  margin:0;
  padding:0;
  font-family:'Jost',sans-serif;
  height:50vh;
  box-sizing:border-box;
  
  background-image: url('pexels-bri-schneiter-28802-346529.jpg');
  background-repeat: no-repeat;
  position: relative;
  background-size:cover;
  width: 100%;
  height:500px;
  margin-left: auto;
  margin-right: auto;
 }

.under-row{
line-height: 50px;;
}

 .under-hero-text{
  display:flex;
  justify-content: center;
  color:white;
 }

 .under-hero-text h2{
  font-size:40px;
  margin-top:50px;
 }

 
 .under-hero-text-p{
  font-size:18px;
  color:#fff;
  display:flex;
  justify-content: center;
  margin-top:10px;
  text-decoration: underline black solid;
 }

 .hero-under-main{
  display: flex;
  flex-direction:horizontal;
  justify-content: center;
  flex-wrap:nowrap;
 }

 .under-hero-section{
  padding:25px 10px;
  text-align: center;
  border-radius:4px;
  transition:transform .5s;
  cursor: pointer;
  color:black;
  font-size:20px;
  background-color:#fff;
  margin:18px;
  height:180px;
  width:390px;
margin-top:50px;
  border:solid #ffffffaf;
  opacity: 0.8;
  font-size:60px;
 }

 .under-hero-section p{
  display:flex;
  font-size:16.5px;
  vertical-align: baseline;
  margin-bottom:1px;
 }

 .under-img{
  display:flex;
  height:cover;
  width:cover;
  margin-bottom:0px;
  
 }

 #under-i{
  display:flex;
  font-size:40px;
  margin-left:10px;
  margin-bottom:5px;
  color:#04cc84;
 }


@media (max-width:597px){
  .under-hero-section{
    height:250px;
    }

    .under-hero-section p{
      font-size:16px;
    }
}






.contact-page-main{
  font-family:'Jost',sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;

}

.nav-options{
margin-top: 18px;
}

.contact-page{
position:relative;
min-height:90vh;
padding:40px 100px;
display:flex;
justify-content: center;
align-items: center;
flex-direction:column;
}

.contact-page .contact-content{
max-width:800px;
text-align:center;
}

.contact-logo{
display:flex;
justify-content:center;
background-image:url(rosew.png);
background-size:cover;
width:150px;
height:150px;
}

.contact-page .contact-content p{
font-weight:300;
color:black;
font-size:30px;
}

.contact-tect p{
font-size:22px;
}



.contact-container{
width: 100%;
display:flex;
justify-content: center;
align-items:center;
margin-top:30px;
position:relative;
margin-right:300px;
}

.contact-box{
display:flex;
justify-content:center;
align-items:center;
}

.contact-container .contact-info{
width:50%;
display:flex;
flex-direction:column;
}

.contact-container .contact-info .contact-box{
position:relative;
padding:20px 0;
display:flex;
}

.contact-container .contact-info .contact-box .contact-icon{
min-width:70px;
height:70px;
background-color:#fff;
display:flex;
justify-content: center;
align-items:center;
border-radius:40%;
font-size:30px;

}

.contact-container .contact-info .contact-box .contact-tect{
display:flex;
margin-left:20px;
font-size:16px;
color:black;
flex-direction:column;
font-weight:300;
}

.contact-container .contact-info .contact-box .contact-tect h3{
font-weight:500;
color:#0095ff;
font-size:20px;
}

.form-group h5{
  font-size:23px;
}

.contact-form{
width:900px;
display:flex;
justify-content:center;
padding-top:35px;
}

.contact-form h2{
font-size:35px;
color:#333;
font-weight:500;
}

.contact-form .form-group{
position:relative;
width: 600px;
margin-top:10px;
}

.contact-form .form-group input,
.contact-form .form-group textarea{
width:100%;
padding: 5px 5px 5px 5px;
font-size:20px;
margin:10px 0;
border:none;
border: 2px solid #333;
outline:none;
resize:none;
}

.contact-form .form-group span{
position:absolute;
left:0;
padding:5px 0;
font-size:18px;
margin:10px 0;
pointer-events:none;
transition:0.5s;
color:#666;
}

.contact-form .form-group input:focus ~ span,
.contact-form .form-group input:valid ~ span,
.contact-form .form-group textarea:focus ~ span,
.contact-form .form-group textarea:valid ~ span{
color:#e91e63;
font-size:12px;
transform:translateY(-20px);
}

#c-b{
width:125px;
background-color:#04cc84;
border-color:black;
border:none;
border-radius:1rem;
}

.contact-form .form-group input[type="submit"]{
width:100px;
background:#00bcd4;
color:#fff;
border:none;
cursor:pointer;
padding:10px;
font-size:18px;
}

@media (max-width:991px){

.contact-page{
padding:50px;
}

.contact-container{
flex-direction:column;
}

.contact-container .contact-info{
margin-bottom:40px;
}

.contact-container .contact-info,
.contact-form{
width:100%;
}

}


@media (max-width:992px){

  .contact-container{
    margin-right:0px;
  }

}